@import '../../styles/mixins';

.image-list {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  margin: 20px;
  padding: 0;
  min-width: 576px;
}

.image-item-container {
  display: inline-block;

  .image {
    height: 200px;
  }
}

@include large {
  .image-list {
    grid-template-columns: repeat(4, auto);
  }
}

@include medium {
  .image-list {
    grid-template-columns: repeat(3, auto);
  }
}

@include small {
  .image-list {
    grid-template-columns: repeat(2, auto);
  }
}
