<ul class="image-list" *ngIf="!(loading$ | async) && !(error$ | async)">
  <li class="image-item" *ngFor="let image of images | async; let id = index">
    <button mat-mini-fab color="warn" class="delete-image" (click)="onDeleteImage(id)">
      <mat-icon>close</mat-icon>
    </button>

    <span class="image-item-container"
          [appTooltip]="image.tooltip_config.title"
          [placement]="image.tooltip_config.placement"
          [color]="image.tooltip_config.color"
    >
      <img class="image"
           [id]="image.id"
           [src]="image.url"
           [alt]="image.id"
           [attr.index]="id"
           (click)="onImageRedirectHandler($event)"
      />
    </span>
  </li>
</ul>

<ng-template [ngIf]="loading$ | async">
  <app-spinner></app-spinner>
</ng-template>
