@import './../../../styles/pallete';

.ng-tooltip {
  position: absolute;
  max-width: 150px;
  font-size: 14px;
  text-align: center;
  color: $secondary-color;
  padding: 3px 8px;
  background: $primary-color;
  border-radius: 4px;
  z-index: 1000;
  opacity: 0;

  .arrow {
    display: block;
    position: absolute;
    color: $primary-color;

    &:after {
      content: '';
      position: absolute;
      border-style: solid;
    }
  }
}

.ng-tooltip-top {
  .arrow {
    top: 100%;
    left: 50%;

    &:after {
      margin-left: -5px;
      border-width: 5px;
      border-right-color: transparent;
      border-left-color: transparent;
      border-bottom-color: transparent;
    }
  }
}

.ng-tooltip-bottom {
  .arrow {
    bottom: 100%;
    left: 50%;

    &:after {
      margin-left: -5px;
      margin-top: -10px;
      border-width: 5px;
      border-right-color: transparent;
      border-left-color: transparent;
      border-top-color: transparent;
    }
  }
}

.ng-tooltip-left {
  .arrow {
    top: 50%;
    left: 100%;

    &:after {
      margin-top: -5px;
      border-width: 5px;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-top-color: transparent;
    }
  }
}

.ng-tooltip-right {
  .arrow {
    top: 50%;
    right: 100%;

    &:after {
      margin-top: -5px;
      margin-left: -10px;
      border-width: 5px;
      border-left-color: transparent;
      border-bottom-color: transparent;
      border-top-color: transparent;
    }
  }
}

.ng-tooltip-show {
  opacity: 1;
}
