@import './../../styles/pallete';

.mat-toolbar {
  justify-content: space-between;
  color: $secondary-color;
  background: $primary-color;
  min-width: 576px;
}

.mat-title {
  margin: 0;
  cursor: pointer;
  outline: none;
}

.upload-control {
  display: flex;
  flex-direction: row;
  align-items: center;

  .label {
    margin-right: 10px;
  }
}




