<section class="image-details-container" *ngIf="currentImage; else spinner">
  <div class="image-section"
       [appTooltip]="currentImage.tooltip_config.title"
       [placement]="currentImage.tooltip_config.placement"
       [color]="currentImage.tooltip_config.color"
  >
    <img class="image"
         *ngIf="currentImage"
         [id]="currentImage.id"
         [src]="currentImage.url"
         [alt]="currentImage.category"
    />

    <ng-template [ngIf]="isPreviewMode">
      <p class="warning">* Please attention that is Preview Mode. Changes have not yet been saved.</p>
    </ng-template>
  </div>


  <div class="admin-tool-section">
    <form class="form" [formGroup]="adminToolForm">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Update Image">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput
               placeholder="Tooltip Text"
               [value]="currentImage.tooltip_config.title"
               formControlName="tooltipText"
        >
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput
               placeholder="Tooltip Placement"
               [value]="currentImage.tooltip_config.placement"
               formControlName="tooltipPlacement"
        >
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput
               placeholder="Tooltip Color"
               [value]="currentImage.tooltip_config.color"
               formControlName="tooltipColor"
        >
      </mat-form-field>

      <div class="example-full-width">
        <button mat-button (click)="onPreview()">Preview</button>
        <button mat-button cdkFocusInitial color="primary" (click)="onSaveChanges()">Save Changes</button>
      </div>
    </form>
  </div>
</section>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
